.env
.idea
.vscode
pnpm-lock.yaml
package-lock.json
node_modules
database
config/*
!config/bachero.jsonc
TEMP_bachero_textcommandcompatibility
reports
logs
modules/temporary.module.ogbadge
.DS_Store
changelog.txt
# https://github.com/Freebox-Tools/bachero-call-notifier
modules/freeboxtools.callnotifier